@font-face{
    font-family: "Oxford";
    src: url('../fonts/oxford.ttf') format('truetype');
}

a {
    color:#047;
    text-decoration:underline;
}

#wrapper {
    margin: 0px auto 0px 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    text-align: left;
    width: 630px;
}

#wrapper h1 {
   font-family: Georgia, Garamond, serif; 
   font-size: 64px;
   font-weight: normal;
   line-height: 40px;
   color: #555;
}

#wrapper p {
    font-family: Georgia, Garamond, serif; 
    font-size: 20px;
    font-weight: normal;
}

#sergipic {
    position: absolute;
    top: 40px;
    left:650px;
    width:300px;
    z-index: -1
}
