* {
padding:0;
margin:0;
}

html, body {
    height: 100%;
}
body {
background:#fff url("../images/top.gif") repeat-x;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
line-height: 1.5;
color:#222;
}

a {
color:#047;
text-decoration:underline;
}

a:hover {
color:#c00;
}

code {
    font-size: 115%;
}

#container {
width:95%; /* this has nothing to do with the '911' event */
position:relative;
height: auto !important;
margin:0 auto;
}

#container h1 {
font-size:200%;
font-weight:normal;
letter-spacing:-1px;
width:600px;
padding:32px 0 25px 0;
}

#container h1 a {
color:#222;
text-decoration:none;
}

#container h1 a:hover {
color:#c00;
}

#bubble {
top:40px;
right:0;
position:absolute;
display:block;
height:28px;
background:url(../images/bubble_right.gif) no-repeat right;
}

#bubble p {
display:block;
font-size:11px;
color:#fff;
height:28px;
padding:4px 12px 0 10px;
background:url(../images/bubble_left.gif) no-repeat top left;
}

#header {
margin-left: auto;
margin-right: auto;
width:80%;
}
#content {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width:80%;
}

#content > h2 a {
color:#222;
text-decoration:none;
}

#content > h2 a:hover {
color:#c00;
}

#content h2.archive {
font-weight:normal;
font-size:22px;
color:#1c1c1c;
padding:0;
margin:5px 0 20px 0;
border:none;
text-align:left;
}

#content .date {
margin:15px 0 15px 0;
font-weight: bold;
color:#999;
}
#content .comment_link {
text-align: right;
margin-bottom: 10px;
}
.comments {
color:#333;
margin:15px 0 15px 0;
padding-bottom: 10px;
border-bottom:#bbb 1px solid;
font-weight: bold;
}

.comments a {
background:#fff;
padding:0 7px 5px 0;
color:#333;
text-decoration:none;
}

.comments a:hover {
color:#c00;
}

.navigation {
background:#f9f9f9;
font-size:11px;
padding:5px 10px;
margin:0 0 20px 0;
border-top:#bbb 1px solid;
}

.navigation a {
color:#555;
font-weight:bold;
text-decoration:none;
}

.navigation a:hover {
color:#333;
text-decoration:none;
}

.main h2 {
    font-size: 150%;
    border-bottom: 2pt dotted #ddd;
}
.main h3 {
font-size:18px;
font-weight:bold;
margin:0 0 15px 0;
}

.main img {
padding:2px;
border:#ddd 2px solid;
}

.main a img {
padding:2px;
border:#0085b5 2px solid;
}

.main a:hover img {
padding:2px;
border:#ca0002 2px solid;
}

.main p {
text-align: justify;
margin:0 0 15px 0;
}

.main ol {
line-height:18px;
margin:0 0 15px 30px;
}

.main ul {
line-height:18px;
margin:0 0 15px 30px;
}

.main li {
margin:0 0 5px 0;
}

.main dl {
    margin-left: 2em;
}

.main dl dt {
    font-weight: bold;
}
.main dl dd {
    margin-left: 2em;
}

.meta {
background:#f3f3f3;
font-size:11px;
line-height:15px;
color:#333;
padding:5px 10px;
margin:0 0 30px 0;
border-top:#bbb 1px solid;
}

.signature {
float:left;
padding:0 15px 0 0;
border-right:#bbb 1px solid;
width:200px;
}

.tags {
float:left;
padding:0 0 0 15px;
width:440px;
}

#sidebar {
font-size:12px;
float:right;
width:180px;
border-left:#999 1px solid;
padding:0 0 20px 15px;
margin:0 0 20px 0;
}

#sidebar h3 {
font-size:14px;
margin:20px 0 5px 0;
}

#sidebar ul {
list-style:none;
}

#sidebar ul ul {
margin:5px 0 0 10px;
}

#sidebar ul ul ul {
margin:5px 0 0 10px;
}

#sidebar ul li {
padding:0 0 5px 0;
}

#author h3 {
margin:5px 0 5px 0;
}

#searchform {
margin:15px 0 0 0;
}

#searchform input {
background:#222;
font-size:11px;
margin:2px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#eee;
}

#searchform input:hover {
background:#333;
border:#999 1px solid;
color:#fff;
cursor:pointer;
}

#searchform #s {
background:#f6f6f6;
font-size:11px;
margin:2px 0;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

#searchform #s:hover {
border:#c00 1px solid;
cursor:text;
}

input.searchfield {
background:#f6f6f6;
font-size:11px;
display:block;
margin:5px 0 8px 0;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

input.searchfield:hover {
background:#eee;
color:#222;
}

input.submit {
background:#222;
font-size:11px;
display:block;
margin:0 0 10px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#eee;
}

input.submit:hover {
background:#333;
cursor:pointer;
border:#999 1px solid;
color:#fff;
}

input.subcom {
background:#eee;
font-size:11px;
margin:0 0 10px 0;
padding:1px 4px 2px 4px;
border:#888 1px solid;
color:#222;
}

input.subcom:hover {
background:#222;
cursor:pointer;
border:#888 1px solid;
color:#eee;
}

input.comment {
background:#f6f6f6;
font-size:11px;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

input.comment:hover {
border:#c00 1px solid;
}

textarea {
background:#f6f6f6;
font-size:12px;
width:400px;
padding:2px 4px;
border:#aaa 1px solid;
color:#222;
}

textarea:hover {
border:#c00 1px solid;
}

.postinput small {
font-size:11px;
margin:0 0 0 5px;
}

p.logged {
font-size:12px;
}

h3.reply {
font-size:15px;
margin:0 0 10px 0;
}

.nocomments {
margin:0 0 30px 0;
}

ol.commentlist {
font-size:12px;
list-style:none;
margin:10px 0 30px 0;
border-bottom:#bbb 1px solid;
}

.commentlist li {
border-top:#bbb 1px solid;
padding:0 0 10px 0;
}

.commentlist li.bypostauthor {
border-top:#bbb 5px solid;
background-color:#f3f3f3;
}

.comment_mod {
margin:10px 0 0 10px;
}

.comment_mod em {
background-color:#fff897;
padding:1px 3px;
}

.comment_author {
margin:10px 0;
float:right;
width:190px;
}

.comment_author img {
float:left;
margin:5px 12px 0 0;
}

.comment_author p {
line-height:20px;
}

.comment_author small {
font-size:11px;
}

.comment_text {
float:left;
width:470px;
margin:0 0 0 10px;
}

.comment_text p {
line-height:18px;
margin:7px 0;
}

.comment_meta {
font-size:12px;
}

#commentform p {
line-height:18px;
margin:0 0 15px 0;
}

blockquote {
background:url(../images/quote.gif) no-repeat top left;
padding:0 0 0 60px;
min-height:50px;
}

#footer {
width: 80%;
border-top:4px solid #eee;
color:#666666;
font-size:80%;
margin: 0 auto;
margin-top:2em;
overflow:hidden;
}

#footer a {
color:#555;
font-weight:bold;
text-decoration:none;
}

#footer a:hover {
color:#333;
text-decoration:none;
}

#footer .contact {
    float: left;
    margin-right: 3em;
}

#footer .contact p {
    margin: 1em 0;
}

.clear {
clear:both;
}

.warning p {
background:url(../images/warning.gif) no-repeat left;
height:160px;
padding:20px 0 0 90px;
font-size:20px;
margin:0 0 0 10px;
}

input:focus, textarea:focus{
background-color:#ffc;
}

abbr {
border:none;
}

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

.alignleft {
float:left;
}

.alignright {
float:right;
}

.wp-caption {
border:1px solid #ddd;
text-align:center;
background-color:#f3f3f3;
padding-top:4px;
margin:10px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

.wp-caption img {
margin:0;
padding:0;
border:0 none;
}

.wp-caption-dd {
font-size:11px;
line-height:17px;
padding:0 4px 5px;
margin:0;
}

/* self-clear floats */

.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/* IE Hacks */

*html #bubble {
display:none;
}

*html #bubble p {
display:none;
}

* html .group,
* html #nav ul li a {
height: 1%;
}

*:first-child+html .group {
min-height: 1px;
}

* html #nav ul li a {
display: inline;
}

img {
border: none;
}
#content > h2 > a {
  margin: 1.5em 0 .75em 0; 
  font-size: 100%;
  border: 0;
}
.main > h2 {
  margin: 1.5em 0 .75em 0;
  border-bottom: 2pt dotted silver;
  font-size: 130%;
}
#container h3 { margin: 1.5em 0 .5em 0; font-size: 125%; }
ul.posts li {
    list-style: none;
}
ul.posts li span {
    color: #666;
    font-family: Monaco,"Courier New",monospace;
}
