* {
padding:0;
margin:0;
}

html, body { height: 100%; }
body {
background:#fff url("../images/top.gif") repeat-x;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
line-height: 1.5;
color:#222;
}

a {
color:#047;
text-decoration:underline;
}

code {
font-size: 115%;
}

#container {
width:95%; /* this has nothing to do with the '911' event */
position:relative;
height: auto !important;
margin:0 auto;
}

#container h1 {
font-size:200%;
font-weight:normal;
letter-spacing:-1px;
padding:32px 0 25px 0;
}

#container h1 a,
#content > h2 a {
color:#222;
text-decoration:none;
}

#content h2 a {
margin: 1.5em 0 .75em 0; 
font-size: 100%;
border: 0;
}

a:hover,
#container h1 a:hover,
#content > h2 a:hover {
color:#c00;
}
#container h3 {
margin: 1.5em 0 .5em 0; 
font-size: 125%;
}

#bubble {
top:40px;
right:0;
position:absolute;
display:block;
height:28px;
background:url(../images/bubble_right.gif) no-repeat right;
}

#bubble p {
display:block;
font-size:11px;
color:#fff;
height:28px;
padding:4px 12px 0 10px;
background:url(../images/bubble_left.gif) no-repeat top left;
}

#header, #content {
margin-left: auto;
margin-right: auto;
width:80%;
}
#content {
margin-top: 20px;
}

#content .date {
margin:15px 0 15px 0;
font-weight: bold;
color:#999;
}
#content .comment_link {
text-align: right;
margin-bottom: 10px;
}
.comments {
color:#333;
margin:15px 0 15px 0;
padding-bottom: 10px;
border-bottom:#bbb 1px solid;
font-weight: bold;
}

.comments a {
background:#fff;
padding:0 7px 5px 0;
color:#333;
text-decoration:none;
}

.comments a:hover {
color:#c00;
}

.main h2 {
margin: 1.5em 0 .75em 0;
border-bottom: 2pt dotted silver;
font-size: 130%;
}
.main h3 {
font-size:18px;
font-weight:bold;
margin:0 0 15px 0;
}

.main img {
padding:2px;
border:#ddd 2px solid;
}

.main a img {
padding:2px;
border:#0085b5 2px solid;
}

.main a:hover img {
padding:2px;
border:#ca0002 2px solid;
}

.main p {
text-align: justify;
margin:0 0 15px 0;
}

.main ol {
line-height:18px;
margin:0 0 15px 30px;
}

.main ul {
line-height:18px;
margin:0 0 15px 30px;
}

.main li {
margin:0 0 5px 0;
}

.main dl {
    margin-left: 2em;
}

.main dl dt {
    font-weight: bold;
}
.main dl dd {
    margin-left: 2em;
}

blockquote {
background:url(../images/quote.gif) no-repeat top left;
padding:0 0 0 60px;
min-height:50px;
}

#footer {
width: 80%;
border-top:4px solid #eee;
color: #666;
font-size:80%;
margin: 0 auto;
margin-top:2em;
overflow:hidden;
}

#footer a {
color:#555;
font-weight:bold;
text-decoration:none;
}

#footer a:hover {
color:#333;
}

#footer .contact {
float: left;
margin-right: 3em;
}

#footer .contact p {
margin: 1em 0;
}

img { border: none; }

ul.posts li {
    list-style: none;
}
ul.posts li span {
    color: #666;
    font-family: Monaco,"Courier New",monospace;
}
