---
layout: default
title: Sergi Mansilla
permalink: /index.html
---
<div id="home">
    {% for post in site.posts %}
        {% if post.published != false %}
        <div class="post index">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <span class="meta">{{ post.date | date_to_string }}</span>
            {{ post.content | summarize }}
            <p>
                <a href="{{ post.url }}">READ MORE</a>
            </p>
            <hr>
        </div>
        {% endif %}
    {% endfor %}
</div>
