---
layout: default
title: Sergi Mansilla
permalink: /index.html
---
<div id="home">
    <ul>
    {% for post in site.posts %}
        {% if post.published != false %}
        <!--<div id="post">-->
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span>{{ post.date | date: "%d %B %Y" }}</span>
        </li>
            <!--
            <p class="meta">{{ post.date | date_to_string }} Amsterdam</p>
            {{ post.content }}
            -->
        <!--</div>-->
        {% endif %}
    {% endfor %}
</ul>
</div>
