<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Sergi Mansilla" />

    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-1807855-5']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
</head>
<body>
<!-- Top black bar above the page -->
<div class="topbar"><div class="fill"><div class="container"></div></div></div>

<div id="wrap">
    <div id="wrap2">
        <div id="siteTitle"><a href="/">Sergi Mansilla</a></div>

        <div id="navcontainer">
            <ul id="navlist">
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/sergi">Projects</a></li>
            <!--
                <li><a href="/talks">Talks</a></li>
            -->
            <li><a href="{{site.author.twitter}}">Twitter</a></li>
            </ul>
        </div>

        <div class="site">
          {{ content }}
          <div class="footer">
              <br/>
            <div class="contact">
              <p>
                <a href="http://sergimansilla.com">Copyright 2012 Sergi Mansilla</a>
              </p>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'sergimansilla'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>

